body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #d49e63, #b97a4a);
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  background: white;
  border-radius: 10px;
  width: 600px;
  height: 600px;
}
.left {
  width: 60%;
  text-align: center;
  align-items: center;
  padding: 30px 20px;
}
.profile-img {
  margin-top: 12%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  outline: #8b7355 solid 8px;
}
h2 {
  margin-top: 40px;
  color: #4b3c2e;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}
.role {
  margin: 0 0 20px;
  color: #8a7b6b;
  font-size: 18px;
  letter-spacing: 1px;
}
.btn {
  width: 220px;
  padding: 15px 0;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #7b6a56;
  background: transparent;
  color: #4b3c2e;
  cursor: pointer;
  display: block;              
  margin: 20px auto;           
}
.follow {
  background: #7b6a56;
  color: white;
  border: none;
  margin-top: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.follow:hover {
  background: white;
  color: #7b6a56;
  outline: #7b6a56 solid 2px;
}
.message {
  background: transparent;
  border: 2px solid #7b6a56;
  color: #7b6a56;
}
.message:hover {
  background: #7b6a56;
  color: white;
}
.right {
  width: 40%;
  background: #f5ebe1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}
.info {
  flex: 1; 
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 4px solid white; 
}
.info:last-child {
  border-bottom: none; 
}
.info h3 {
  margin: 0;
  color: #4b3c2e;
  font-size: 32px;
  font-weight: 500;
}
.info p {
  margin: 4px 0 0;
  color: #8a7b6b;
  font-size: 18px;
}