body {
      font-family: "Poppins", Arial, sans-serif;
      background: gray;
      margin: 0;
      padding: 40px 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      
    }
    .container {
      width: 85%;
      max-width: 700px;
      background: white;
      border-radius: 12px;
      padding: 25px 30px;
    }
    .input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      margin-bottom: 18px;
      margin-left: 10px;
    }
    #todoInput {
      flex: 1;
      padding: 14px 16px;
      font-size: 16px;
      border: 1px solid lightgray;
      border-radius: 8px;
      outline: none;
      transition: all 0.2s ease;
    }
    #todoInput:focus {
      border-color: lightgreen;
      box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
    }
    #addBtn {
      background-color: rgba(2, 153, 2, 0.807);
      color:white;
      font-weight: 600;
      border: none;
      padding: 14px 25px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      margin-right: 10px;
    }
    #addBtn:hover {
      background-color: green;
    }
    hr {
      border: 0;
      border-top: 1px solid lightgray;
      margin: 20px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      border: 1px solid lightgray;
      border-radius: 10px;
      overflow: hidden;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      border-top: 1px solid lightgray;
    }
    li:first-child {
      border-top: none;
      
    }
    li:hover {
      background-color: #f0f8ff;
    }
    .task {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 18px;
    }
    .task input {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
    li.completed span {
      text-decoration: line-through;
      opacity: 0.6;
    }
    .icons i {
      cursor: pointer;
      margin-left: 15px;
      font-size: 18px;
    }
    .icons i:hover {
      transform: scale(1.2);
    }
    .fa-pen-to-square {
      color: #0d6efd;
    }
    .fa-trash {
      color: #dc3545;
    }