body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0; 
}
.list{
    list-style-type: none;
    padding: 8px;    
}
.container{
    max-width: 400px;
    margin: auto;
    padding: 20px;
}
.notfound{
    color: red;
    font-weight: bold;
}