.sidebar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  padding-bottom: 24px;
}

.sidebar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.sidebar .sidebar-list {
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 16px;
}

.sidebar .sidebar-list::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}