   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background:gray;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      display: flex;
      background: white;
      border-radius: 5px;
      max-width: 1100px;
      width: 100%;
    }
    .left {
      background: #4CAF50;
      color: white;
      flex: 1;
      padding: 80px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .left h1 {
      font-size: 60px;
      font-weight: lighter;
      letter-spacing: 4px;
    }

    .left p {
      margin: 15px 0;
      line-height: 1.5;
      font-size: 28px;
    }
    .line {
      width: 40%;
      border: none;
      border-top: 2px solid white; 
    }
    #logo {
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 0;
      letter-spacing: 2px;
    }

    .read-btn {
      margin-top: 20px;
      padding: 10px 25px;
      border: 2px solid white;
      background: transparent;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 24px;
      transition: 0.3s;
    }

    .read-btn:hover {
      background: white;
      color: #4CAF50;
    }

    .right {
      flex: 1;
      padding: 80px 40px;
      flex-direction: column;
      justify-content: center;
    }

    .right h2 {
      margin-bottom: 20px;
      font-size: 52px;
      color: gray;
    }

    .form-grp
     {
      margin-bottom: 35px;
    }

    input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 24px;
      letter-spacing: 1px;
    }

    .btn {
      width: 100%;
      padding: 12px;
      background: #4CAF50;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 24px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover {
      background: green;
    }

    .links {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      font-size: 20px;
    }

    .links a {
      color: #4CAF50;
      text-decoration: none;
    }

    .links a:hover {
      text-decoration: underline;
    }