.page-container {
  padding: 30px;
  background: #fafafa;
  min-height: 100vh;
}

.header-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

.table-card {
  background: #fff;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 0 0 1px #f0f0f0;
}

.ant-table-wrapper .ant-table {
  border-radius: 8px;
}

.ant-table-thead > tr > th {
  background: #fafafa;
  font-weight: 600;
}

.ant-table td {
  padding: 18px !important;
}

.wrap-text {
  white-space: normal !important;
  word-break: break-word;
}
.ant-table-cell {
  text-align: center;
}
